In [1]:
import torch
import dgl
import pandas as pd
import numpy as np

Using backend: pytorch

# 1、测试接 test 探索

## middle test A 探索

In [2]:
test_csv_a = pd.read_csv('./test_csvs/input_A.csv', names=['src', 'dst', 'type', 'start_at', 'end_at'])
# label = test_csv.exist.values
etype = test_csv_a.type.values
src = test_csv_a.src.values
dst = test_csv_a.dst.values
start_at = torch.tensor(test_csv_a.start_at.values)
end_at = torch.tensor(test_csv_a.end_at.values)

In [3]:
test_csv_a

         src    dst  type    start_at      end_at
0         19   6486    74  1496093495  1496282477
1         19  11021   116  1497524067  1497720574
2         19  28905   245  1497371665  1497538710
3         19  32125   178  1497432877  1497633034
4         19  44465   149  1495823478  1495989884
...      ...    ...   ...         ...         ...
49995  69948  28905   238  1494817089  1495000626
49996  69948  45285   220  1495740412  1495906305
49997  69961  20816    78  1496748482  1496986910
49998  69961  33045    20  1497511922  1497656626
49999  69971  47676    65  1497345133  1497569438

[50000 rows x 5 columns]

In [4]:
test_csv_a['type'].value_counts().head(10)

74     3903
8      3704
151    3506
33     3037
20     2907
65     2745
69     1931
237    1919
198    1741
71     1528
Name: type, dtype: int64

In [5]:
test_csv_a[['start_at']].describe()

           start_at
count  5.000000e+04
mean   1.496785e+09
std    1.238603e+06
min    1.494585e+09
25%    1.495697e+09
50%    1.496783e+09
75%    1.497886e+09
max    1.498943e+09

In [6]:
test_csv_a[['end_at']].describe()

             end_at
count  5.000000e+04
mean   1.496957e+09
std    1.238758e+06
min    1.494760e+09
25%    1.495870e+09
50%    1.496955e+09
75%    1.498060e+09
max    1.499121e+09

In [7]:
test_csv_a['end_at'] - test_csv_a['start_at']

0        188982
1        196507
2        167045
3        200157
4        166406
          ...
49995    183537
49996    165893
49997    238428
49998    144704
49999    224305
Length: 50000, dtype: int64

In [8]:
test_csv_a['src'].value_counts().head(10)

28905    4899
45285    3585
64560     910
60642     901
39520     662
45915     626
23185     481
26464     443
69788     429
29828     409
Name: src, dtype: int64

In [9]:
test_csv_a['dst'].value_counts().head(10)

28905    13571
45285     2729
45915      636
60642      621
64560      583
39520      503
26464      482
23185      398
29828      360
27718      344
Name: dst, dtype: int64

## initial test A 探索

In [10]:
test_csv_a_init = pd.read_csv('./test_csvs/input_A_initial.csv', names=['src', 'dst', 'type', 'start_at', 'end_at', 'exist'])
label = test_csv_a_init.exist.values
etype = test_csv_a_init.type.values
src = test_csv_a_init.src.values
dst = test_csv_a_init.dst.values
start_at = torch.tensor(test_csv_a_init.start_at.values)
end_at = torch.tensor(test_csv_a_init.end_at.values)

In [11]:
test_csv_a_init

        src    dst  type    start_at      end_at  exist
0        30  48382   151  1494663180  1494794383      1
1       106   8540    78  1494635755  1494835958      1
2       106   8540   149  1498383835  1498499059      0
3       106  20816    65  1494661105  1494827593      1
4       106  28905    19  1494634666  1494767554      1
...     ...    ...   ...         ...         ...    ...
9994  23185  30931    74  1494589260  1494820486      1
9995  23185  45285     8  1494592908  1494836777      1
9996  23185  28905    33  1495374710  1495526854      0
9997  23185  52793    74  1495492292  1495750711      0
9998  23185  45285   137  1494590040  1494778930      1

[9999 rows x 6 columns]

In [12]:
test_csv_a_init['type'].value_counts().head(10)

74     860
8      723
151    716
33     658
20     612
198    500
237    477
65     467
69     376
71     272
Name: type, dtype: int64

In [13]:
test_csv_a_init[['start_at']].describe()

           start_at
count  9.999000e+03
mean   1.495319e+09
std    1.216210e+06
min    1.494580e+09
25%    1.494613e+09
50%    1.494645e+09
75%    1.495647e+09
max    1.498946e+09

In [14]:
test_csv_a_init[['end_at']].describe()

             end_at
count  9.999000e+03
mean   1.495492e+09
std    1.216296e+06
min    1.494752e+09
25%    1.494786e+09
50%    1.494818e+09
75%    1.495821e+09
max    1.499109e+09

In [15]:
test_csv_a_init['src'].value_counts().head(10)

28905    1010
45285     797
64560     217
60642     195
23185     167
45915     125
39520     123
20816     120
30055     104
24861     101
Name: src, dtype: int64

In [16]:
test_csv_a_init['dst'].value_counts().head(10)

28905    2849
45285     631
60642     138
23185     126
39520     108
64560     106
45915     100
26464      71
30055      70
24861      66
Name: dst, dtype: int64

## middle test B 探索

In [17]:
test_csv_b = pd.read_csv('./test_csvs/input_B.csv', names=['src', 'dst', 'type', 'start_at', 'end_at'])
# label = test_csv.exist.values
etype = test_csv_b.type.values
src = test_csv_b.src.values
dst = test_csv_b.dst.values
start_at = torch.tensor(test_csv_b.start_at.values)
end_at = torch.tensor(test_csv_b.end_at.values)

In [18]:
test_csv_b

          src     dst  type    start_at      end_at
0          35  261819    12  1450279885  1450349077
1          37  561438    12  1447564289  1447669795
2          48  139003    12  1444784010  1444900992
3          73      68     2  1450432283  1450565346
4          82  259862    12  1447048482  1447115044
...       ...     ...   ...         ...         ...
49995  791165  688684    14  1445969159  1446052520
49996  791237  873406    14  1450613178  1450667809
49997  791283  210305    14  1447523283  1447644242
49998  791290  756693    14  1451225076  1451259613
49999  791311  150719    14  1444875153  1444963549

[50000 rows x 5 columns]

In [19]:
test_csv_b['type'].value_counts().head(10)

12    37871
2      3706
14     2171
10     1404
4      1389
7       785
6       718
3       658
8       536
5       318
Name: type, dtype: int64

In [20]:
test_csv_b[['start_at']].describe()

           start_at
count  5.000000e+04
mean   1.447200e+09
std    2.325289e+06
min    1.443543e+09
25%    1.445129e+09
50%    1.447057e+09
75%    1.449178e+09
max    1.451602e+09

In [21]:
test_csv_b[['end_at']].describe()

             end_at
count  5.000000e+04
mean   1.447286e+09
std    2.325143e+06
min    1.443631e+09
25%    1.445219e+09
50%    1.447139e+09
75%    1.449269e+09
max    1.451689e+09

In [35]:
test_csv_b['src'].value_counts().head(15)

20295     7
374434    6
31346     6
329454    6
180350    6
17873     6
313823    6
245695    6
378762    6
372578    6
364886    5
319524    5
308329    5
284055    5
384811    5
Name: src, dtype: int64

In [36]:
test_csv_b['dst'].value_counts().head(15)

449537    6
241190    5
14291     5
332173    5
128487    4
337009    4
419484    4
298339    4
208026    4
851776    4
416257    4
432900    4
48747     4
777629    4
404986    4
Name: dst, dtype: int64

## initial test B 探索

In [25]:
test_csv_b_init = pd.read_csv('./test_csvs/input_B_initial.csv', names=['src', 'dst', 'type', 'start_at', 'end_at', 'exist'])
label = test_csv_b_init.exist.values
etype = test_csv_b_init.type.values
src = test_csv_b_init.src.values
dst = test_csv_b_init.dst.values
start_at = torch.tensor(test_csv_b_init.start_at.values)
end_at = torch.tensor(test_csv_b_init.end_at.values)

In [26]:
test_csv_b_init

         src     dst  type    start_at      end_at  exist
0     178101  199930    12  1444028118  1444218475      0
1     225348  258232    12  1443543331  1443701682      1
2     283252  331153    12  1446453453  1446598532      0
3     386544  465515     2  1443499609  1443685257      1
4     260483  302134    12  1443563371  1443709728      1
...      ...     ...   ...         ...         ...    ...
5069  385406  464015    12  1448048830  1448249592      0
5070  367650  440664    12  1448429756  1448543166      0
5071  386363  465284    12  1443535678  1443696394      1
5072  386174  465031    12  1443589758  1443712525      1
5073  386297  465201    12  1443596615  1443740477      1

[5074 rows x 6 columns]

In [27]:
test_csv_b_init['type'].value_counts().head(10)

12    4116
2      258
10     154
14     117
8       74
7       74
3       69
4       69
6       54
5       46
Name: type, dtype: int64

In [28]:
test_csv_b_init[['start_at']].describe()

           start_at
count  5.074000e+03
mean   1.444633e+09
std    2.143934e+06
min    1.443500e+09
25%    1.443537e+09
50%    1.443566e+09
75%    1.444128e+09
max    1.451524e+09

In [29]:
test_csv_b_init[['end_at']].describe()

             end_at
count  5.074000e+03
mean   1.444806e+09
std    2.144471e+06
min    1.443673e+09
25%    1.443710e+09
50%    1.443739e+09
75%    1.444297e+09
max    1.451716e+09

In [37]:
test_csv_b_init['src'].value_counts().head(15)

372753    18
385707    13
359422    12
377946    11
386397    11
386456    11
376839    11
274130    10
386490    10
386533    10
15989     10
386521     9
385453     9
361455     9
386529     9
Name: src, dtype: int64

In [38]:
test_csv_b_init['dst'].value_counts().head(15)

447352    17
464420    13
454221    11
465351    10
452720    10
465502    10
462752    10
465446     9
465489     9
856251     9
465407     9
459645     9
429839     9
464072     8
465464     8
Name: dst, dtype: int64

# 2、训练集探索

## A train -- edge_csv

In [2]:
edge_csv_a = pd.read_csv(f'./train_csvs/edges_train_A.csv', header=None)

In [3]:
edge_csv_a

              0      1    2           3
0           106  28905   96  1413662400
1           211  14601   32  1413662400
2          1355  45804   65  1413662400
3          2540  60948   69  1413662400
4          2867  28905   74  1413662400
...         ...    ...  ...         ...
27045263  69788  28905   20  1494705600
27045264  69788  28905  243  1494705600
27045265  69788  45285   36  1494705600
27045266  69788  61356   93  1494705600
27045267  69947  28905  220  1494705600

[27045268 rows x 4 columns]

In [4]:
# timestamp
time_a = edge_csv_a[[3]]
time_a.describe()

                  3
count  2.704527e+07
mean   1.452709e+09
std    2.326762e+07
min    1.413662e+09
25%    1.432512e+09
50%    1.451538e+09
75%    1.472648e+09
max    1.494706e+09

In [6]:
# etype
edge_csv_a[2].value_counts().head(10)

74     2101539
8      2006865
151    1885342
33     1606134
20     1595066
65     1502621
237    1164627
69     1096837
198     867761
71      838554
Name: 2, dtype: int64

## A train -- node_features

In [8]:
node_feat_csv_a = pd.read_csv('./train_csvs/node_features.csv', header=None)
node_feat = node_feat_csv_a.values[:, 1:]

In [11]:
# 统计node_feat中的缺失值（-1）的占比
(node_feat == -1).sum() / (node_feat.shape[0] * node_feat.shape[1])

0.7635081267359325

## B train -- edge_csv

In [2]:
edge_csv_b = pd.read_csv(f'./train_csvs/edges_train_B.csv', header=None)
edge_csv_b

              0       1   2           3    4
0         21499   21012   2  1420074012  NaN
1        672377  795545  12  1420074016  NaN
2        104556  264221  12  1420074016  NaN
3        653813  772791  12  1420074017  NaN
4         21500   21013   2  1420074021  NaN
...         ...     ...  ..         ...  ...
8278426  386544  465515   2  1443628795  NaN
8278427  238097  446963  12  1443628798  NaN
8278428  343979  409898   2  1443628799  NaN
8278429  376663  452473  12  1443628799  NaN
8278430   44492  452006  12  1443628799  NaN

[8278431 rows x 5 columns]

In [3]:
edge_csv_b[[3]].describe()

                  3
count  8.278431e+06
mean   1.432215e+09
std    6.755162e+06
min    1.420074e+09
25%    1.426519e+09
50%    1.432187e+09
75%    1.438099e+09
max    1.443629e+09

In [4]:
edge_csv_b[2].value_counts()

12    5836685
2     1150475
10     262354
14     242573
4      194951
7      139704
3      118502
8      111231
6       88965
5       64275
1       29457
13      25680
9        7524
11       6055
Name: 2, dtype: int64

In [5]:
def extract_edge_feature(records):
    feat = torch.FloatTensor(np.array(list(map(lambda x: x.strip().split(','), records))).astype('float'))
    return feat

In [7]:
src_type = 'User'
dst_type = 'Item'

heterogenous_group = edge_csv_b.groupby(2)

etype_feat = None
feat_dim = 768

# Assign Edge Feature
cnt = 0
total = 0
for event_type, records in heterogenous_group:
    event_type = str(event_type)
    etype = (src_type, event_type, dst_type)
    total += 1
    if len(str(records[4].iloc[0])) > 3:
        continue
    else:
        cnt += 1  # nan

# 边特征的缺失(nan)占比
print(float(cnt) / total)

0.5714285714285714